In [1]:
import numpy as np
import pandas as pd

# Import Sentiment Data

In [2]:
# Import data already with datetime class 
df = pd.read_csv("final_with_states_codes.csv", parse_dates = ['date'])

# each day with no tume for better grouping
df['date_day'] = pd.to_datetime(df['date']).dt.date

# dateday as string to better work with it
df['date_day_string'] = df['date_day'].astype(str)

# Which week
df['date_week'] = df['date'].dt.strftime('%Y-%U')

# Which month
df['date_month'] = df['date'].dt.strftime('%Y-%m')

In [3]:
df.shape

(170207, 22)

In [4]:
df

,index,valid_id,date,full_name,country,lon,lat,followers,retweets,replies,...,coordinates,name,admin1,admin2,score,State,date_day,date_day_string,date_week,date_month
0,5,1249938618497597441,2020-04-14 05:52:44+00:00,"Corona, CA",US,-117.566000,33.875300,164,0,0,...,"(33.8753, -117.566)",Corona,California,Riverside County,0.136364,CA,2020-04-14,2020-04-14,2020-15,2020-04
1,10,1249946616603131905,2020-04-14 06:24:30+00:00,"Crofton, MD",US,-76.700000,39.000000,6159,0,0,...,"(39.0, -76.7)",Crofton,Maryland,Anne Arundel County,-0.172917,MD,2020-04-14,2020-04-14,2020-15,2020-04
2,20,1249958530800549888,2020-04-14 07:11:51+00:00,"Gulfport, MS",US,-89.043900,30.381700,2126,0,0,...,"(30.3817, -89.0439)",Gulfport,Mississippi,Harrison County,0.198148,MS,2020-04-14,2020-04-14,2020-15,2020-04
3,21,1249958765056503809,2020-04-14 07:12:47+00:00,"Cleveland, OH",US,-81.693700,41.499600,848,0,0,...,"(41.4996, -81.6937)",Cleveland,Ohio,Cuyahoga County,0.000000,OH,2020-04-14,2020-04-14,2020-15,2020-04
4,67,1249994429194272768,2020-04-14 09:34:30+00:00,"Kansas, USA",US,-95.712900,37.090200,493,0,1,...,"(37.0902, -95.7129)",Coffeyville,Kansas,Montgomery County,-0.066667,KS,2020-04-14,2020-04-14,2020-15,2020-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170202,392605,1462569185750306816,2021-11-21 23:50:41+00:00,"Newburgh, NY",US,-74.070590,41.503228,175,0,0,...,"(41.50322821, -74.07058972)",Gardnertown,New York,Orange County,0.600000,NY,2021-11-21,2021-11-21,2021-47,2021-11
170203,392607,1462570347790802951,2021-11-21 23:55:18+00:00,"Corvallis, OR",US,-123.264417,44.587813,268,0,0,...,"(44.58781347, -123.26441691)",Corvallis,Oregon,Benton County,0.400000,OR,2021-11-21,2021-11-21,2021-47,2021-11
170204,392609,1462592006216159234,2021-11-22 01:21:22+00:00,"Ashland, VA",US,-77.468255,37.754710,626,0,0,...,"(37.75470973, -77.46825546)",Ashland,Virginia,Hanover County,0.000000,VA,2021-11-22,2021-11-22,2021-47,2021-11
170205,392610,1462594688989507584,2021-11-22 01:32:02+00:00,"Kentucky, USA",US,-84.484544,38.092900,89,0,0,...,"(38.09289955, -84.48454382)",Lexington-Fayette,Kentucky,Fayette County,1.000000,KY,2021-11-22,2021-11-22,2021-47,2021-11
170206,392611,1462596319948640263,2021-11-22 01:38:31+00:00,"Tampa, FL",US,-82.442170,27.960190,179,0,0,...,"(27.96019, -82.44217)",Tampa,Florida,Hillsborough County,0.000000,FL,2021-11-22,2021-11-22,2021-47,2021-11

In [5]:
dfinal = df[['valid_id', 'date', 'date_day', 'date_week', 'date_month', 'name', \
             'admin1', 'State', 'admin2', 'followers', 'retweets', \
             'replies', 'likes', 'quotes', 'score']]

dfinal = dfinal.rename(columns={"name": "city", "admin1": "state", "admin2": "country", "State": "state_code"})

Note: we could remove more columns but at the moment we are keeping some extra

In [10]:
dfinal

,valid_id,date,date_day,date_week,date_month,city,state,state_code,country,followers,retweets,replies,likes,quotes,score
0,1249938618497597441,2020-04-14 05:52:44+00:00,2020-04-14,2020-15,2020-04,Corona,California,CA,Riverside County,164,0,0,1,0,0.136364
1,1249946616603131905,2020-04-14 06:24:30+00:00,2020-04-14,2020-15,2020-04,Crofton,Maryland,MD,Anne Arundel County,6159,0,0,0,0,-0.172917
2,1249958530800549888,2020-04-14 07:11:51+00:00,2020-04-14,2020-15,2020-04,Gulfport,Mississippi,MS,Harrison County,2126,0,0,0,0,0.198148
3,1249958765056503809,2020-04-14 07:12:47+00:00,2020-04-14,2020-15,2020-04,Cleveland,Ohio,OH,Cuyahoga County,848,0,0,0,0,0.000000
4,1249994429194272768,2020-04-14 09:34:30+00:00,2020-04-14,2020-15,2020-04,Coffeyville,Kansas,KS,Montgomery County,493,0,1,0,0,-0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170202,1462569185750306816,2021-11-21 23:50:41+00:00,2021-11-21,2021-47,2021-11,Gardnertown,New York,NY,Orange County,175,0,0,0,0,0.600000
170203,1462570347790802951,2021-11-21 23:55:18+00:00,2021-11-21,2021-47,2021-11,Corvallis,Oregon,OR,Benton County,268,0,0,0,0,0.400000
170204,1462592006216159234,2021-11-22 01:21:22+00:00,2021-11-22,2021-47,2021-11,Ashland,Virginia,VA,Hanover County,626,0,0,0,0,0.000000
170205,1462594688989507584,2021-11-22 01:32:02+00:00,2021-11-22,2021-47,2021-11,Lexington-Fayette,Kentucky,KY,Fayette County,89,0,0,0,0,1.000000
170206,1462596319948640263,2021-11-22 01:38:31+00:00,2021-11-22,2021-47,2021-11,Tampa,Florida,FL,Hillsborough County,179,0,0,0,0,0.000000

In [6]:
dfinal.shape

(170207, 15)

In [7]:
# len() is 52, there are 2 to remove as typo/nan
dfinal.state_code.unique()

array(['CA', 'MD', 'MS', 'OH', 'KS', 'WA', 'FL', 'NY', 'MI', 'PA', 'TX',
       'NJ', 'IL', 'WY', 'LA', 'SC', 'MA', 'AL', 'VA', 'NC', 'OR', 'VT',
       'Series([], )', 'MN', 'TN', 'GA', 'ME', 'ND', 'NV', 'WV', 'MO',
       'CT', 'NH', 'IN', 'OK', 'AZ', 'WI', 'CO', 'AR', 'UT', 'RI', 'KY',
       'NE', 'ID', 'IA', 'HI', 'SD', 'AK', 'MT', 'DE', 'NM', nan],
      dtype=object)

In [8]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [12]:
dfinal = dfinal[dfinal['state_code'].isin(states)]
len(dfinal.state_code.unique())

50

In [13]:
# final shape is
dfinal.shape

(166745, 15)

In [14]:
# dfinal.to_csv(r'final_cleaned_us.csv', index=None)